@import "assets/scss/config/fonts";
@import "assets/scss/config/reset";
@import "assets/scss/config/vars";
@import "assets/scss/config/utility";
@import "assets/scss/modules/typography";
@import "assets/scss/modules/fields";
@import "assets/scss/modules/buttons";
@import "assets/scss/modules/toast";
@import "assets/scss/config/global";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.app-author {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-container {
  --gap: 15px;
  min-height: 100vh;
  background-color: var(--bcp-grey);
  color: var(--bct-sunny);
  padding: 20px;
}

.guess-number {
  display: grid;
  gap: var(--gap);
  font-size: calc(20px + (30 - 20) * ((100vw - 300px) / (var(--maximumViewportWidth) - 300)));

  ul {
    display: grid;
    gap: var(--gap);
  }

  input {
    background-color: var(--bcp-grey);
    color: var(--bct-sunny);
    border-color: transparent;
    &:focus {
      border-color: transparent;
    }
  }
}
